/***** GENERAL *****/
.template_com_emc_origin_editOrigin {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #000;
}

.template_com_emc_origin_editOrigin #content-wrapper {
	width: 97%;
	margin: 0 auto;
	padding: 50px 0 10px 0;
	position: relative;
	top: auto;
	left: auto;
}

.template_com_emc_origin_editOrigin #content {
	margin-top: 0;
}

#origin_wrapper {
	font-family: Helvetica, sans-serif;
	margin: 0 auto;
	width: 98%;
	/* width: 1070px; */
	/* overflow: hidden; */
	/* border-radius: 10px; */
}

.clear {
	clear: both;
}

.evolve-form li {
	margin: 10px 0;
	text-indent: 5px;
}

.evolve-form label {
	width: 40%;
}

label.evolve-ios-label {
	font-size: 1em;
}

#footer {
	height: 10px;
}

#footer .copyright {
	display: none;
}

.workspace_default,
.workspace_expand {
	min-height: 590px;
}

.origin_upload_input {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	opacity: 0.0;
	filter: alpha(opacity=0);
	font-size: 500px;
	height: 500px;
}

.origin_default .workspace_default .origin_template,
.origin_default .workspace_expand .origin_template {
	width: 950px;
	height: 650px;
}

/***** TEMPLATES *****/

/*
.origin_pushdown .workspace_default .origin_template,
.origin_pushdown .workspace_expand .origin_template {
	width: 970px;
}
.origin_pushdown .workspace_default .origin_template {
	height: 90px;
}
.origin_pushdown .workspace_expand .origin_template {
	height: 415px;
}
*/

.origin_ascend .workspace_default .origin_template {
	width: 950px;
	height: 90px;
}
.origin_ascend .workspace_expand .origin_template {
	width: 950px;
	height: 450px;
}

.origin_horizon .workspace_default,
.origin_horizon .workspace_expand {
	width: 1500px;
}

.origin_horizon .workspace_default .origin_template,
.origin_horizon .workspace_expand .origin_template {
	width: 950px;
}

.origin_horizon .workspace_default .origin_template {
	height: 50px;
}
.origin_horizon .workspace_expand .origin_template {
	height: 250px;
}

.origin_meridian .workspace_default .origin_template,
.origin_meridian .workspace_expand .origin_template {
	width: 950px;
	height: 650px;
}

.origin_nova .workspace_default .origin_template {
	width: 300px;
	height: 250px;
}
.origin_nova .workspace_expand .origin_template {
	width: 1000px;
	height: 590px;
}

/***** LIST *****/
#origin_list {
	margin: 10px 0;
}

#origin_list_create {
	height: 60px;
	margin: 10px 0 0 0;
}

#origin_create_icon {
	background: transparent url(../images/icon-add.png) no-repeat 0 0;
	width: 32px;
	height: 32px;
	margin: 5px;
}

#origin_create_icon .evolve-buttons-title {
	width: 100px;
	color: #000;
}

#origin_create_type {
	top: 7px;
	left: 55px;
	width: 120px;
}

#origin_create_type>label {
	width: 100%;
	margin: 5px 0;
}

#origin_create_title {
	top: 10px;
	left: 175px;
	width: 70%;
	text-align: center;
	height: 35px;
	font-size: 1.8em;
}

#origin_create_button {
	width: 90px;
	margin: 15px 0 0 0;
	float: right;
}

#origin_list th.header {
	cursor: pointer;
}

#origin_list table.adminlist tbody tr td {
	background: none;
	border: 0 none;
}

#origin_list .origin_link_type {
	width: 75px;
}

#origin_list .origin_link {
	width: 80%;
}

/***** BUTTONS *****/
.origin_upload_button {
	position: relative;
	overflow: hidden;
}

.origin-bg-red {
	background-color: #dc4a38;
}

.origin-border-red {
	outline-color: #dc4a38;
}

.origin_template .origin-bg-red {
	background: rgba(220, 74, 56, .2);
	outline-color: #dc4a38;
}

.origin-bg-green {
	background-color: #3c9300;
}

.origin-border-green {
	outline-color: #3c9300;
}

.origin_template .origin-bg-green {
	background: rgba(60, 147, 0, .2);
	outline-color: #3c9300;
}

.origin-bg-blue {
	background-color: #4c8ffd;
}

.origin-border-blue {
	outline-color: #4c8ffd;
}

.origin_template .origin-bg-blue {
	background: rgba(76, 143, 253, .2);
	outline-color: #4c8ffd;
}

.origin-bg-silver {
	background-color: #dcdce2;
}

.origin-border-silver {
	outline-color: #dcdce2;
}

.origin_template .origin-bg-silver {
	background: rgba(220, 220, 226, .2);
	outline-color: #dcdce2;
}

.origin-bg-purple {
	background-color: #ea629a;
}

.origin-border-purple {
	outline-color: #ea629a;
}

.origin_template .origin-bg-purple {
	background: rgba(234, 98, 154, .5);
	outline-color: #ea629a;
}

.origin-bg-yellow {
	background-color: #fcbb22;
}

.origin-border-yellow {
	outline-color: #fcbb22;
}

.origin_template .origin-bg-yellow {
	background: rgba(252,187,34, .5);
	outline-color: #fcbb22;
}

.origin-bg-white {
	background-color: #ffffff;
}

.origin-border-white {
	outline-color: #fff;
}

.origin_template .origin-bg-white {
	background: rgba(255, 255, 255 .5);
	outline-color: #fff;
}

/***** QTIP *****/
.origin-tooltip-modal {
	position: fixed;
}

.origin-tooltip {
	width: 130px;
	font-weight: bold;
}

.origin-tooltip .ui-tooltip-content,
.ui-tooltip-content {
	border: 0 none;
}

.origin-tooltip-modal.ui-tooltip, 
.origin-tooltip-modal.qtip {
	max-width: 100%;
}

.origin_modal {
	width: 300px;
	height: 350px;
}

#origin_list_embed_modal {
	width: 350px;
	height: 400px;
}

#origin_list_embed_modal li {
	margin: 5px 0;
}

#origin_list_embed_modal input {
	width: auto;
}

#origin_list_embed_modal input[type="text"] {
	width: 30px;
	text-align: right;
}

#origin_list_embed_modal input[type="radio"] {
	width: auto;
}

#origin_list_embed_modal input.list_embed_input_clickthru {
	width: 40%;
	text-align: left;
}

#origin_list_embed_modal .list_embed_disabled {
	opacity: .3;
}

#origin_list_embed_modal #origin_list_embed_code {
	width: 100%;
	height: 125px;
	margin: 5px auto;
}

#origin_modal_trigger,
#origin_modal_link,
#origin_modal_flash,
#origin_modal_remove {
	height: 120px;
}

#origin_modal_flash {
	height: 175px;
}

#origin_modal_settings {
	height: 450px;
}

#origin_modal_calendar {
	height: 275px;
}

#origin_modal_calendar .evolve-calendar .ui-datepicker-group {
	margin: 3px 10px;
}

.evolve-calendar .ui-datepicker-title {
	text-align: center;
}

.evolve-calendar .ui-datepicker-group-first {
	text-align: left;
}

.evolve-calendar .ui-datepicker-group-last {
	text-align: right;
}

#origin_toolbar_link {
	width: 300px;
}

#origin_toolbar_link input[name="origin_url"] {
	width: 85%;
	text-align: right;
}

#origin_toolbar_link label {
	width: 100px;
	display: inline-block;
}

#origin_toolbar_link li input {
	width: 25px;
}

.origin_modal h2 {
	margin: 5px 0;
}

input.uploadInput {
	width: 100px;
}

#origin_modal_embed textarea,
#origin_modal_settings textarea {
	width: 99%;
	margin: 0 auto;
	display: block;
}

#origin_modal_embed textarea {
	height: 270px;
}

#origin_modal_settings textarea {
	height: 125px;
}

#origin_modal_image {
	height: 175px;
}

#origin_modal_flash .evolve-form li, 
#origin_modal_image .evolve-form li,
#origin_modal_settings .evolve-form li {
	margin: 15px 0;
}

.origin_upload_default,
.origin_upload_secondary {
	right: 15px;
}

#origin_modal_image .origin_upload_default {
	top: 24px;
}

#origin_modal_flash .origin_upload_secondary,
#origin_modal_image .origin_upload_secondary {
	top: 55px;
}

#origin_modal_settings .origin_upload_default {
	top: 116px;
}

#origin_modal_settings .origin_upload_secondary {
	top: 147px;
}


/***** SCHEDULE *****/
#origin_schedule {
	width: 100%;
	/* width: 1050px; */
	height: 37px;
	margin: 0 0 0 14px;
}

.origin_schedule_create {
	background: transparent url(../images/toolpad-schedule.png) no-repeat top center;
	margin: 5px 9px 0 0;
	border-radius: 5px;
	width: 32px;
	height: 26px;
	cursor: pointer;
}

.origin_schedule_create:hover {
	background-position: center bottom;
}

.origin_schedule_tab {
	margin: 5px 2px;
}

a.origin_schedule_tab_active span.evolve-ui-icon,
a.origin_toolbar_active span.evolve-ui-icon {
	background-image: url(/libraries/evolve/images/evolve/evolve-ui-buttons-color.png);
}

.origin_schedule_tab .evolve-ui-label {
	opacity: .3;
}

a.origin_schedule_tab:hover span.evolve-ui-label,
a.origin_schedule_tab_active span.evolve-ui-label {
	opacity: 1;
}

/***** TOOLBAR *****/
#origin_toolbar_title,
#origin_toolbar_buttons {
	width: 49%;
}

#origin_toolbar_title {
	background: transparent url(../images/icon-toolbar.png) no-repeat 0 0;
	height: 32px;
	margin: 2px 0 0 10px;
	text-indent: 40px;
	font-weight: bold;
	font-size: 2em;
	line-height: 32px;
}

#origin_toolbar_buttons {
	text-align: right;
	float: right;
}

#origin_styles .evolve-buttons-title {
	width: 185px;
	left: -75px;
}

#origin_add_marker .evolve-buttons-title {
	width: 110px;
	left: -39px;
}

#origin_groups .evolve-buttons-title {
	width: 110px;
}

#origin_settings .evolve-buttons-title {
	width: 120px;
	right: -5px;
	left: auto;
}

/***** TOOLPAD *****/
#toolpad_options {
	bottom: 10px;
	width: 60px;
}

.origin-toolpad-bg {
	background: transparent url(../images/toolpad-bg.png) repeat 0 0;
	padding-bottom: 10px;
	min-height: 550px;
	border-radius: 5px;
}

#origin_toolpad_left {
	text-align: center;
	width: 60px;
	height: 100%;
	float: left;
	margin-left: -99.5%;
}

#origin_toolpad_right {
	text-align: center;
	width: 99.5%;
	height: 100%;
	float: left;
}

.origin_workspace {
	margin-left: 60px;
	overflow: auto;
}

/***** WORKSPACE *****/
#origin_workspace_wrapper {
	/* margin: 0 0 0 60px; */
	/* width: 1000px; */
	width: 100%;
}

#origin_toolpad_left .origin_toolpad_icon {
	margin: 10px auto 0;
}

#origin_toolpad .evolve-ios-label {
	font-size: .9em;
}

.origin_toolpad_draggable {
	z-index: 1100;
}

.origin_toolpad_image {
	background-image: url(../images/toolpad-image.png);
}

.origin_toolpad_embed {
	background-image: url(../images/toolpad-embed.png);
}

.origin_toolpad_flash {
	background-image: url(../images/toolpad-flash.png);
}

.origin_toolpad_link {
	background-image: url(../images/toolpad-link.png);
}

.origin_toolpad_trigger {
	background-image: url(../images/toolpad-trigger.png);
}

.origin_toolpad_remove {
	background-image: url(../images/toolpad-remove.png);
}

.origin_toolpad_view .origin_toolpad_icon {
	background-image: url(../images/toolpad-view.png);
}

.origin_toolpad_view .origin_view_default {
	background-position: bottom left;
}

.origin_toolpad_view .origin_view_expand {
	background-position: bottom right;
}

.origin_toolpad_view .origin_view_default:hover,
.origin_toolpad_view .origin_view_default.origin_view_active {
	background-position: top left;
}

.origin_toolpad_view .origin_view_expand:hover,
.origin_toolpad_view .origin_view_expand.origin_view_active {
	background-position: top right;
}

.origin_button_settings {
	background-image: url(../images/toolpad-settings.png);
}

.origin_button_settings:hover {
	background-position: left bottom;
}

.origin_toolpad_icon {
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}

.origin_toolpad_image {
	text-align: left;
}
/*

.origin_toolpad_icon.origin_toolpad_disable {
	overflow: visible;
	width: 100%;
}
*/

.origin_template .origin_toolpad_icon {
	background-image: none !important;
	border-radius: 0;
	outline-width: 1px;
	outline-style: dashed;
	z-index: 1000;
	width: 50px;
	height: 50px;
}

.origin_template a.link {
	font-weight: bold;
	color: #000;
}

.origin_template .origin_toolpad_icon:hover {
	outline-width: 1px;
	outline-style: solid;
}

.workspace_default,
.workspace_expand {
	background: #000 url(/libraries/evolve/images/evolve/evolve-ui-bg-workspace.png) repeat 0 0;
	border-radius: 5px;
}

.origin_template {
/*
	min-width: 300px;
	min-height: 250px;
*/
	margin: 0 auto;
}
