@import url("/templates/azure/css/common.dev.css");

#azure-homepage {
	min-height: 650px;
}

#content-wrapper {
	width: 970px;
	height: 537px;
	margin: -248px 0 0 -485px;
	top: 50%;
	left: 50%;
	position: absolute;
}

#showcase a {
	width: 970px;
	height: 400px;
	display: block;
}

#showcase .originTiles-title {
	bottom: 0;
	top: auto;
	width: 100%;
	height: 30px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
}

div#specsheets {
	width: 980px;
}

#specsheets .originTiles {
	width: 316px;
	position: relative;
}

#specsheets .originTiles .specsheet-thumbnail {
	width: 100%;
}

#specsheets .originTiles-title {
	top: 50%;
	left: 0;
	bottom: auto;
	right: auto;
	margin: -27px 0 0 0;
	font-size: .95em;
	background: transparent url(/templates/azure/images/specsheet-bg.png) no-repeat 0 0;
	width: 206px;
	height: 55px;
	line-height: 51px;
	font-weight: normal;
	opacity: .7;
}

.specsheet-label,
.specsheet-icon {
	vertical-align: middle;
}