#nav_top {
	position: relative;
	font-family: Arial,Helvetica,sans-serif !important;
}

#nav_top a img {
	border: none;
}

#nav_top a:hover {
	text-decoration: underline;
}

#nav_top ul {
	padding: 5px 0 0 9px;
	margin: 0;
}

#nav_top ul li {
	list-style: none;
	display: inline;
}

#nav_top ul li ul {
	position: absolute;
	left: -999em;
}

#nav_top ul li ul li {
	display: block;
}

#nav_top ul li:hover ul {
	left: 56px;
	top: 21px;
}
 
#nav_top ul li.sfhover ul {
	left: auto;
}

.mainNavBig,
.mainNavSmall,
.mainNavSmaller {
	background-color: #28434d;
	padding-left: 8px;
}

.mainNavBig {
	font-size: 14px;
	padding-top: 4px;
}

.mainNavBig a:link,
.mainNavBig a:visited,
.mainNavBig a:hover {
	border-right: 2px solid #335B6D;
	font-weight: bold;
	color: #ffffff;
	padding-right:5px;
	text-decoration: none;
}

.mainNavSmall,
.mainNavSmaller {
	color: #808e99;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.mainNavSmall {
	padding-top: 0px;
	padding-left: 9px;
}

.mainNavSmall a:link, 
.mainNavSmall a:visited, 
.mainNavSmall a:hover,
.mainNavSmaller a:link, 
.mainNavSmaller a:visited, 
.mainNavSmaller a:hover {
	border-right: 1px solid #335b6d;
	color: #808e99;
	font-weight: bold;
	padding-right: 4px;
	text-decoration: none;
}

.mainNavSmaller {
	margin: 1px 0 0 0;
	padding-bottom: 4px;
	padding-top: 4px;
}

#consolebox { 
	background-color: #28434d; 
	border-width: 2px 2px 2px 2px; 
	border-style: solid; 
	border-color: #335b6d;
	border-top: 2px solid #28434d;
	width: 95px; 
	height: 118px;
	left: 56px;
	top: -17px;
	position: relative;
	z-index: 100;
	padding-top: 2px;
	padding-left: 6px;
	padding-bottom: 5px;
	color: #ffffff;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: -123px;
}

#consolebox a:link, 
#consolebox a:visited, 
#consolebox a:active { 
	color: #ffffff; 
	text-decoration: none; 
	border: 0px; 
	font-weight: normal;
}

#consolebox a:hover { 
	color: #ffffff; 
	text-decoration: underline; 
}
