@import url("/templates/azure/css/common.dev.css");

/***** GENERAL *****/
#content-wrapper {
	width: 980px;
	height: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -225px 0 0 -490px;
}

#content-left,
#content-center,
#content-right {
	height: 100%;
}

#content-left {
	width: 475px;
}

#content-center {
	width: 300px;
}

#content-right {
	width: 250px;
	margin-right: 0;
}

.template_com_templates #content,
.template_com_users #content {
	background-color: #fff;
	color: #000;
}

.template_com_emc_cartographer #content-wrapper,
.template_com_emc_origin #content-wrapper,
.template_com_emc_origin_edit #content-wrapper,
.template_com_templates #content-wrapper,
.template_com_users #content-wrapper,
body[class^="template_com_users_"] #content-wrapper,
.template_com_orochi #content-wrapper {
	position: relative;
	top: auto;
	left: auto;
	margin: 0 auto;
	padding-top: 32px;
}

/***** HOMEPAGE *****/
.template_com_cpanel {
	min-height: 600px;
}

#origin-home #content-left {
	width: 430px;
}

#origin-home #content-right {
	width: 230px;
}

#origin-home #content-right h3 {
	text-align: right;
}

#activity {
	background-color: rgba(0, 0, 0, .3);
	overflow: hidden;
	height: 410px;
}

#creator {
	width: 100%;
	height: 305px;
	background-color: rgba(255, 255, 255, .4);
}

#creator .originTiles-title {
	background-color: rgba(33, 33, 35, .9);
	width: 100%;
	font-weight: bold;
}

#analytics {
	opacity: .5;
	height: 95px;
}

#apps .originTiles {
	height: 88px;
	overflow: hidden;
}

#apps .originTiles .originTiles-title {
	height: 30px;
	width: 125px;
	line-height: 30px;
	margin: -15px 0 0 0;
}

/***** LOGIN *****/
#origin-login {
	min-height: 600px;
}

#origin-login #originBar-login {
	display: none; 
}

#login {
	width: 250px;
	height: 155px;
}

#origin-login #login {
	padding: 5px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -77px 0 0 -125px;
}

#origin-login #content-wrapper {
	background: #212123 url(/templates/azure/images/tile-login.png) no-repeat -50px -50px;
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
}

#origin-login #login h2 {
	background: transparent url(/templates/azure/images/bar-logo.png) no-repeat 0 0;
	height: 50px;
	line-height: 75px;
}

#origin-login #footer-wrapper {
	position: absolute;
	width: 400px;
	bottom: -50px;
}


/***** TOOLBAR *****/
#originToolbar {
	position: relative;
	height: 50px;
	margin: 10px 0;
}

#originToolbar h1 {
	line-height: 50px;
}

#originToolbar #toolbar {
	position: absolute;
	top: 0;
	right: 0;
}

#originToolbar .button a,
#originToolbar .button span {
	display: block;
	width: 50px;
}

#originToolbar .button a span {
	background-position: center top;
	background-repeat: no-repeat;
	height: 26px;
}

#originToolbar .button a {
	opacity: .5;
	text-align: center;
}

#originToolbar .button a:hover {
	opacity: 1;
}

#toolbar-apply a span {
	background-image: url(/templates/azure/images/_icons/check.png);
}

#toolbar-cancel a span {
	background-image: url(/templates/azure/images/_icons/cancel.png);
}

#toolbar-delete a span {
	background-image: url(/templates/azure/images/_icons/delete.png);
}

#toolbar-edit a span {
	background-image: url(/templates/azure/images/_icons/edit.png);
}

#toolbar-new a span {
	background-image: url(/templates/azure/images/_icons/add.png);
}

#toolbar-save a span {
	background-image: url(/templates/azure/images/_icons/save.png);
}

#azure-submenu li {
	display: inline;
}

/***** ACTIVITY *****/
#activity .originTiles-title {
	top: 0;
	margin: 0;
	text-align: right;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 1.3em;
}

#activity a:hover {
	text-decoration: underline;
}

#activity ul {
	margin: 40px 0 0 0;
}

#activity li {
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid rgba(189, 189, 189, .5);
}

#activity .activity-item,
#activity .activity-timestamp {
	display: block;
}

#activity .activity-name {
		
}

#activity .activity-link {
	font-weight: bold;
}

#activity .activity-timestamp {
	font-size: .8em;
	opacity: .75;
}

/***** USER *****/
.template_com_users #content a {
	color: #000;
	font-weight: bold;
}

.template_com_users #content a:hover {
	text-decoration: underline;
}

.template_com_users #content .disabled {
	opacity: .3;
}

#originUsers-stock {
	width: 600px;
	height: 375px;
	background: transparent url(/templates/azure/images/_users/user-1.jpg) no-repeat 0 0;
}

#originUsers-form {
	width: 370px;
	height: 375px;
	margin: 0;
}

#originUsers-form .admintable {
	margin: 20px auto 0;
	width: 300px;
}

#originUsers-form .admintable tr {
	height: 40px;
}

#originUsers-form select#gid {
	height: 50px;
}

/***** LOGIN *****/
#login-error-message {
	padding: 0 10px;
	background-color: #b31f16;
	font-size: .9em;
	text-transform: uppercase;
	position: absolute;
	top: 127px;
	width: 100%;
	padding: 0;
	font-size: .7em;
	text-align: center;
}

#form-login {
	height: 122px;
	position: relative;
	bottom: 0;
}

#form-login-username,
#form-login-password {
	display: block;
	width: 200px;
	margin: 10px auto;
}

#form-login .inputbox {
	width: 100%;
}

#azure-login-buttons {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 30px;
}

#azure-login-reset,
#azure-login-submit {
	background-position: right center;
	right: 15px;
	width: 75px;
	height: 28px;
	text-transform: uppercase;
	font-size: .9em;
	line-height: 26px;
	position: absolute;
}

#azure-login-reset {
	background-position: left center;
	left: 15px;
	right: auto;
	text-align: right;
}

#azure-login-reset input,
#azure-login-submit input {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 0;
	border: 0;
	top: 0;
	left: 0;
}

#azure-login-reset span,
#azure-login-submit span {
	width: 100%;
}

#form-login-lang {
	display: none;
}

/***** SYSTEM MESSAGE *****/
/*
#azure-login #system-message {
	position: absolute;
	margin: 0;
}

#azure-login #system-message .error {
	display: inline;
}

#azure-login #system-message dd,
#azure-login #system-message ul,
#azure-login #system-message li {
	list-style: none;
	padding: 0;
	margin: 0;
}
*/